a {
  text-transform: uppercase;
}

body {
  @include media-breakpoint-down(sm) {
    font-size: 10px;
  }
  @include media-breakpoint-only(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

h1, h2, h3, h4, .font-main, .font-small {
  font-weight: bold;
  font-style: italic;
  font-stretch: condensed;
  margin: 0;
}

h1 {
  letter-spacing: .0875em;
  font-size: 4.475em;
  line-height: 1.03;
}

h2 {
  font-size: 3em;
  letter-spacing: 3px;
  margin-bottom: 0;
}


h4 {
  @include media-breakpoint-down(md) {
    font-size: 2em;
  }
  font-size: 1.5em;
  letter-spacing: 1.8px;
}

.font-description {
  font-size: 1.5em;
  line-height: 1.56;
}

.font-small {
  font-size: 1em;
  letter-spacing: 2px;
}

.font-main {
  font-size: 1.125em;
  letter-spacing: 1.4px;
}

.font-main-bold {
  font-size: 1.5em;
  line-height: 1.44;
  font-weight: bold;
}

.font-main-light {
  font-size: 1.125em;
  line-height: 1.56;
}
