@import "~bootstrap/scss/bootstrap";
@import "override";
@import "icons";

.oblique {
  text-decoration: none !important;
  text-transform: uppercase;
  .oblique-container {
    background: white;
    transform: skewX(-7deg);
    box-shadow: 0 2px 13px 0 rgba(139, 36, 160, 0.5);
    width: fit-content;
    .oblique-text {
      transform: skewX(7deg);
    }
  }
  &.oblique-blue {
    color: #5faeff;
    .oblique-container {
      padding: .625em 1.25em;
    }
  }
}
