<template>
  <div class="about">
    <div class="row">
      <div class="main-text-container col-lg-4">
        <div class="main-text">
          <h1>The team</h1>
          <h4>Small teams, big results</h4>
          <div class="social">
            <a href="https://github.com/epicmaxco" class="social-link" target="_blank">
              <span aria-hidden="true" class="fa fa-github-alt"></span>
            </a>
            <a href="https://www.facebook.com/epicmaxco" class="social-link" target="_blank">
              <span aria-hidden="true" class="fa fa-facebook"></span>
            </a>
            <a href="https://twitter.com/epicmaxco" class="social-link" target="_blank">
              <span aria-hidden="true" class="fa fa-twitter"></span>
            </a>
            <a href="https://medium.com/epicmaxco" class="social-link" target="_blank">
              <span aria-hidden="true" class="fa fa-medium"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="about-container col-lg-8">
        <div class="expertise">
          <div class="team-image-container">
            <img src="/static/epicmax-photo.png" class="team-image" />
          </div>
          <p class="font-description">
            Epicmax is a team of talented people ready to care about your product. We love coding. We love beautiful design.
            We love doing our job better than possible. Every product we craft is a challenge we are excited about.
          </p>
        </div>
        <div class="skills">
          <h2 class="header">Experience & skills</h2>
          <div class="skill">
            <img class="image" src="/static/frontend-development.svg">
            <div class="text">
              <span class="font-main-bold">Frontend Development</span>
              <p class="font-description">
                We build nice-looking, smooth and maintainable apps. Vue.js is the framework of our choice.
              </p>
            </div>
          </div>
          <div class="skill">
            <img class="image" src="/static/uxui-design.svg">
            <div class="text">
              <span class="font-main-bold">UX/UI Design</span>
              <p class="font-description">
                We love when our work looks and feels incredible. Our goal is to make your product breathtaking
                and easy to grasp.
              </p>
            </div>
          </div>
          <div class="skill">
            <img class="image" src="/static/icon-mobile.svg">
            <div class="text">
              <span class="font-main-bold">Mobile Development</span>
              <p class="font-description">
                We create cross-platform hybrid apps to make your idea available on mobiles.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'about',
    head: {
      title: {inner: 'About'}
    }
  }
</script>

<style lang="scss" scoped>
  $team-img-height: 422px;
  $team-img-width: 507px;

  .about {
    width: 100%;
    padding-top: 5em;
    display: flex;
    justify-content: stretch;
    .row {
      margin: 0;
      width: 100%;
    }
    .main-text {
      padding-left: 5%;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @include media-breakpoint-up(lg) {
        position: fixed;
        top: 40%;
      }

      @include media-breakpoint-down(md) {
        padding-left: 5%;
        align-items: center;
      }
      .h4 {
        margin-bottom: 24px;
      }
    }

    .social {
      .social-link {
        color: #80d3f9;
        font-size: 2em;
        margin-right: .5em;
        text-decoration: none;
      }
    }

    .about-container {
      padding-right: 14em;
      @include media-breakpoint-down(md) {
        padding: 5%;
      }
      .header {
        margin-bottom: 1em;
        text-transform: uppercase;
      }
      .expertise {
        margin-bottom: 32px;
        margin-top: 32px;

        @include media-breakpoint-down(md) {
          .team-image-container {
            text-align: center;
          }

          .team-image {
            display: inline-block;
          }
        }

        .team-image {
          width: $team-img-width;
          height: $team-img-height;
          margin-bottom: 25px;

          @include media-breakpoint-up(xl) {
            width: $team-img-width * 1.3;
            height: $team-img-height * 1.3;
          }

          @include media-breakpoint-down(xs) {
            width: $team-img-width * 0.6;
            height: $team-img-height * 0.6;
          }
        }
      }
      .skills {
        padding-bottom: 3em;
        .skill {
          display: flex;
          align-items: flex-start;
          margin-top: 1.5em;
          .image {
            width: 6em;
            padding-right: 1em;
          }
          .text {

          }
        }
      }
    }
  }
</style>
