<template>
  <div class="case-page">
    <div class="row case-page__title">
      <h1>PROJECT NAME</h1>
    </div>
    <div class="case-page__article">
      <h2 class="case-page__head">CHALLENGE</h2>
      <h3 class="case-page__text">The unique stripes of zebras make them one of the animals most familiar to people. They occur in a variety of habitats, such as grasslands,
        savannas, woodlands, thorny scrublands, mountains, and
        coastal hills. However, various anthropogenic factors have had a severe impact on zebra populations, in
        particular hunting for skins and habitat destruction.
      </h3>
      <h2 class="case-page__head">GETTING STARTED: SKETCHES AND PROTOTYPES</h2>
      <h3 class="case-page__text">I played a standard chess game as black with time controls set at 15 minutes with a 2 second increment. The opening played was the King's
        Indian attack where we had a case of opposite sides castling.
        They occur in a variety of habitats, such as grasslands, savannas, woodlands, thorny scrublands, mountains, and coastal hills. However, various anthropogenic factors
        have had a severe impact on zebra populations, in particular hunting for skins and habitat destruction.
      </h3>
      <ul class="case-page__list-head">
        <li class="case-page__list">Standard chess game as black with time controls set at 15 minutes.</li>
        <li class="case-page__list">The opening played was the King's Indian attack where we had a case of opposite sides castling.</li>
        <li class="case-page__list">They occur in a variety of habitats, such as grasslands, savannas, woodlands, thorny scrublands, mountains, and coastal hills.</li>
        <li class="case-page__list">Various anthropogenic factors have had a severe impact on zebra populations, in particular hunting for skins and habitat destruction.</li>
      </ul>
      <h2 class="case-page__head">ONE MORE PARAGRAPH</h2>
      <h3 class="case-page__text">They occur in a variety of habitats, such as grasslands, savannas, woodlands, thorny scrublands, mountains, and coastal hills.
        However, various anthropogenic factors have had a severe impact on zebra populations, in particular hunting for skins and habitat destruction.
      </h3>
      <div class="case-page__divider"/>
        <router-link :to="{name: 'Works'}" class="oblique oblique-blue about-link">
          <div class="oblique-container case-page__button">
            <div class="oblique-text">
              <span class="font-main">BACK TO WORKS</span>
            </div>
          </div>
        </router-link>
      <div class="case-page__text"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'case-page'
}
</script>

<style lang="scss">
.case-page {
  &__title {
    margin-top: 3%;
    margin-bottom: 20px;
    width: 190vh;
    justify-content: center;
  }
  &__article {
    height: 100%;
    background-color: white;
  }
  &__text {
    padding-left: 20%;
    padding-right: 20%;
    font-family: Barlow;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #292b32;
  }

  &__head {
    font-size: 48px;
    padding-bottom: 30px;
    text-align: left;
    color: #3d3c8f;
    padding-top: 3%;
    padding-left: 20%;
    line-height: normal;
    color: #3d3c8f;
  }

  &__list {
    padding-top: 2%;

    font-family: Barlow;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: left;
    color: #292b32;
  }

  &__list-head {
    padding-left: 20%;
  }

  &__divider {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    height: 2px;
    background-image: linear-gradient(to right, #aa2883, #5e56a3 53%, #20257e);
  }

  &__button {
    margin-left: 50%;
    background-color: #5faeff;
    box-shadow: 0 2px 13px 0 rgba(139, 36, 160, 0.5);
    margin-top: 100px;
  }
}
</style>
