<template>
  <div class="contact">
    <div class="row">
      <div class="main-text col-lg-4">
        <h1>Contact</h1>
        <h4>us and let's work together</h4>
        <div class="social">
          <a href="mailto:hello@epicmax.co" class="social-link" target="_blank">
            hello@epicmax.co
          </a>
        </div>
      </div>
      <form method="POST" action="https://formspree.io/hello@epicmax.co" class="form col-lg-8" v-form="setForm">
        <input name="email" type="email" placeholder="Your email" @keyup.enter="submitForm">
        <textarea name="message" placeholder="Message" @keyup.enter="submitForm"></textarea>
        <div class="oblique oblique-blue send-message-btn" @click="submitForm">
          <div class="oblique-container">
            <div class="oblique-text">
              <span class="font-main">Send message</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'contact',

    data () {
      return {
        form: null
      }
    },

    directives: {
      form: {
        inserted (el, binding) {
          binding.value(el)
        }
      }
    },

    methods: {
      setForm (form) {
        this.form = form
      },
      submitForm () {
        this.form.submit()
      }
    },

    head: {
      title: {inner: 'Contact'}
    }
  }
</script>

<style lang="scss" scoped>
  .contact {
    padding-top: 4em;
    display: flex;
    width: 100%;
    height: 100vh;
    .row {
      margin: 0;
      width: 100%;
      height: 100%;
    }
    .main-text {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 5%;
      @include media-breakpoint-down(md) {
        align-items: center;
      }
    }
    .social {
      .social-link {
        color: #80d3f9;
        font-size: 1.125em;
        text-decoration: none;
        text-transform: none;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 2em;
      @include media-breakpoint-up(lg) {
        padding-right: 10%;
      }
      input, textarea {
        font-size: 1.125em;
        padding: 11px 0 15px 15px;
        background-color: rgba(177, 223, 241, 0.2);
        color: white;
        height: 3em;
        border: none;
        &::placeholder {
          color: rgba(255, 255, 255, .5);
        }
      }
      textarea {
        margin-top: 1em;
        height: 50%;
        @include media-breakpoint-down(md) {
          height: 100%;
        }
      }
      .send-message-btn {
        justify-self: right;
        margin-top: 1.2em;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
</style>
