<template>
  <div class="homepage-default">
    <div class="left-part">
      <div class="main-text">
        <h1>Web development with taste</h1>
        <div class="description">
          <h4>No bureaucracy. No middlemen. No waste of time.</h4>
        </div>
      </div>
      <router-link :to="{name: 'About'}" class="oblique oblique-blue about-link">
        <div class="oblique-container">
          <div class="oblique-text">
            <span class="font-main">About Us</span>
          </div>
        </div>
      </router-link>
    </div>
    <img class="image d-none d-lg-block" src="/static/rock.svg">
    <img class="mobile-image d-block d-lg-none" src="/static/rock-mobile.svg">
    <img class="home-number d-none d-lg-block" src="/static/01.png">
  </div>
</template>

<script>
  export default {
    name: 'home-default'
  }
</script>


<style lang="scss">
  div[class^='homepage-'] {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding-top: 1.5em;
    padding-left: 6.25em;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    .background-image {
      border: none;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
    @include media-breakpoint-down(md) {
      height: 80vh;
      padding: 5%;
    }
    .left-part {
      z-index: 4;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .main-text {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      .oblique {
        margin-top: 15px;
        margin-bottom: 24px;
        @include media-breakpoint-down(md) {
          font-size: 2em;
        }
      }
      .description {
        position: relative;
        .blockquote {
          font-size: 3em;
          line-height: 1em;
          position: absolute;
          left: -.3em;
          top: -.1em;
        }
      }
    }
    .home-number {
      z-index: 2;
      height: 20vh;
      position: absolute;
      bottom: 15px;
      left: 20px;
    }
    .image {
      z-index: 3;
      height: 85vh;
      align-self: flex-end;
    }
    .mobile-image {
      z-index: 3;
      position: absolute;
      right: 0;
      object-fit: scale-down;
    }
  }
  .homepage-default {
    width: 100vw;
    height: 100vh;
    padding-top: 1.5em;
    padding-left: 6.25em;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    position: relative;
    .background-image {
      position: absolute;
      z-index: 0;
      top: -1px;
      left: -1px;
      width: calc(100vw + 1px);
      height: calc(100vh + 1px);
    }
    .mobile-image {
      top: 10vh;
      height: 400px;
    }
    .left-part {
      align-self: center;
      .main-text {
        .description {
          margin: 16px 0 16px;
        }
      }
    }
  }
</style>
