<template>
  <div class="homepage-vuestic">
    <div class="background-image"></div>
    <div class="left-part">
      <div class="main-text">
        <h1>Vuestic</h1>
        <h4>Vue.js admin template</h4>
      </div>
      <a href="https://github.com/epicmaxco/vuestic-admin" target="_blank" class="oblique oblique-blue about-link">
        <div class="oblique-container">
          <div class="oblique-text">
            <span class="font-main" style="color: #1d2937;">View on github</span>
          </div>
        </div>
      </a>
      <p class="font-description description" style="text-transform: none">
        <span class="blockquote">“</span>
        That is really nice. I have been meaning to jump into Vue and now I have a reason.”
      </p>
      <p class="font-main-bold" style="text-transform: none">Reddit community</p>
    </div>
    <img class="image d-none d-lg-block" src="/static/home-vuestic.png">
    <img class="mobile-image d-block d-lg-none" src="/static/mobile-home-vuestic.png">
    <img class="home-number d-none d-lg-block" src="/static/02.png">
  </div>
</template>

<script>
  export default {
    name: 'home-vuestic'
  }
</script>

<style lang="scss" scoped>
  .homepage-vuestic {
    .background-image {
      background-image: linear-gradient(121deg, #55dd94, #34717e 57%, #1c3a45);
    }
    .mobile-image {
      top: 0;
    }
    @include media-breakpoint-down(md) {
      .mobile-image {
        height: 100%;
        object-fit: scale-down;
      }
      align-items: flex-end;
      padding-bottom: 8em;
      height: 566px;
    }
  }
</style>
