<template>
  <div class="homepage-sourcerer">
    <div class="background-image"></div>
    <div class="left-part">
      <div class="main-text">
        <h1>Sourcerer</h1>
        <h4>Visual profile for software engineers</h4>
      </div>
      <a href="https://www.safeguest.com/" target="_blank" class="oblique oblique-blue about-link">
        <div class="oblique-container">
          <div class="oblique-text">
            <span class="font-main" style="color: #3bd8d4;">View Live</span>
          </div>
        </div>
      </a>
      <p class="font-description description" style="text-transform: none">
        <span class="blockquote">“</span>
        The opening played was the King's Indian attack where we had <br/>
        a case of opposite sides castling. Instead of the typical one <br/>
        side attacks on side X and the other attacks.”
      </p>
      <p class="font-main-bold" style="text-transform: none">Steven Gustaffson, CEO</p>
    </div>
    <img class="image d-none d-lg-block" src="/static/home-sourcerer.png">
    <img class="mobile-image d-block d-lg-none" src="/static/home-sourcerer.png">
  </div>
</template>

<script>
export default {
  name: 'home-sourcerer'
}
</script>

<style lang="scss">
.homepage-sourcerer {
  @include media-breakpoint-down(md) {
    height: 428px;
    .mobile-image {
      height: 500px;
      object-fit: scale-down;
      width: 200px;
    }
  }
  .background-image {
    background-image: linear-gradient(121deg, #1b4d68, #7ae5c0);
    @include media-breakpoint-down(md) {
      height: 928px;
      width: 875px;
      object-fit: cover;
    }
    width: 2440px;
    height: 2024px;
  }
  .mobile-image {
    bottom: 0;
  }
}
</style>
