<template>
  <div class="homepage-happiful">
    <div class="background-image"></div>
    <div class="left-part">
      <div class="main-text">
        <h1>Happiful</h1>
        <h4>IOS app ux/ui design</h4>
      </div>
      <a href="https://xx13.github.io/happiful/" target="_blank" class="oblique oblique-blue about-link">
        <div class="oblique-container">
          <div class="oblique-text">
            <span class="font-main" style="color: #3bd8d4;">View Case</span>
          </div>
        </div>
      </a>
    </div>
    <img class="image d-none d-lg-block" src="/static/home-happiful.png">
    <img class="mobile-image d-block d-lg-none" src="/static/mobile-home-happiful.png">
    <img class="home-number d-none d-lg-block" src="/static/04.png">
  </div>
</template>

<script>
  export default {
    name: 'home-happiful'
  }
</script>

<style lang="scss" scoped>

  .homepage-happiful {
    @include media-breakpoint-down(md) {
      height: 428px;
      .mobile-image {
        height: 428px;
        object-fit: scale-down;
        width: 207px;
      }
    }
    .background-image {
      background-image: linear-gradient(121deg, #76ecda, #17527e);
      @include media-breakpoint-down(md) {
        height: 428px;
      }
    }
    .mobile-image {
      bottom: 0;
    }
  }
</style>
