<template>
  <div class="homepage-safeguest ">
      <div class="background-image"></div>
    <div class="left-part">
      <div class="main-text">
        <h1>Safeguest</h1>
        <h4>Vue.js hybrid mobile app</h4>
      </div>
      <a href="https://www.safeguest.com/" target="_blank" class="oblique oblique-blue about-link">
        <div class="oblique-container">
          <div class="oblique-text">
            <span class="font-main" style="color: #3bd8d4;">View Live</span>
          </div>
        </div>
      </a>
      <p class="font-description description" style="text-transform: none">
        <span class="blockquote">“</span>
        Epicmax proved to be a team of professionals. <br/>
        UI/UX design, it's implementation, communication - everything was great. <br/>
        Now guys are helping us with our next product.”
      </p>
      <p class="font-main-bold" style="text-transform: none">Bogdan Arsenie, CTO of Guest Networks</p>
    </div>
    <img class="image d-none d-lg-block" src="/static/home-safeguest.png">
    <img class="mobile-image d-block d-lg-none" src="/static/home-safeguest.png">
    <img class="home-number d-none d-lg-block" src="/static/05.png">
  </div>
</template>

<script>
  export default {
    name: 'home-safeguest'
  }
</script>

<style lang="scss" scoped>
    .homepage-safeguest {
      @include media-breakpoint-down(md) {
        height: 428px;
        .mobile-image {
          height: 428px;
          object-fit: scale-down;
          width: 200px;
        }
      }
      .background-image {
        background-image: linear-gradient(121deg, #57d2e6, #07237f);
        @include media-breakpoint-down(md) {
          height: 928px;
          width: 875px;
          object-fit: cover;
        }
        width: 2440px;
        height: 2024px;
      }
      .mobile-image {
        bottom: 0;
      }
    }
</style>
